@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body {
    font-size: 1em;
}

p {
    color: #000;
    font-size: 2em;
}

a {
    color: black;
    font-weight: bold;
    font-size: 25px;
}

h2 {
    color: pink;
    font-family: 'Pacifico', cursive;
    font-size: 3em;
}

#idNome{
    color: blue

}

input{
    color: brown;
}

.colorido {
    color: orangered;
    font-size: 30px;
}

.background{
    background-image: url('../img/tile.jpg');
    background-position: center center;
    font-family: 'Times New Roman', Times, serif;
}

.transparente {
    background-color: rgba(255, 255, 255, 0.9);
}

.estilo{
    font-weight: bold;
    font-style: italic;
    font-variant: small-caps;
}